<link rel="stylesheet" href="/style/navBar.css">

<div class="navBar" id="navBar">
  <a href="/" class="navBarItem"> Home </a>
  <div class="navBarDropDown">
    <button class="navBarDropBtn">Projects</button>
    <div class="navBarDropContent">
      <a href="/projects/"> Projects Overview </a>
      <a href="/projects/c_webserver"> C-Webserver </a>
      <a href="/projects/go_discordbot"> Go-DiscordBot </a>
      <a href="/projects/go_speedTester"> Go-SpeedTester </a>
      <a href="/projects/go_ytdl"> Go-YTDL </a>
    </div>
  </div>
  <div class="navBarDropDown">
    <button class="navBarDropBtn">Blog</button>
    <div class="navBarDropContent">
      <a href="/blog/vertretungsapp"> Vertretungsapp </a>
    </div>
  </div>
</div>
